@import "node_modules/govuk-frontend/govuk/all";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

$screen-sm-min: 576px;

html.lbh-template > body.lbh-template__body * {
  font-family: "Open Sans", sans-serif;
}

.govuk-header__container {
  border-bottom-color: #00513f;
}

.govuk-tag:not([class*="govuk-tag--"]) {
  background-color: #00513f;
}

.lbh-header__container {
  display: flex;
  align-items: center;
}

.lbh-header__logotype {
  svg {
    width: 100%;
    max-width: 12rem;
    padding-top: 0.25rem;
  }
}

.lbh-table__row--data:hover {
  cursor: pointer;
  background-color: rgb(233, 246, 252);
}

.govuk-panel--error {
  color: govuk-colour("white");
  background-color: govuk-colour("red");
}
